#menu { /* Меню сайта */
    width: 20%; /* Ширина меню */
    background: #e3e8cc; /* Цвет фона */
    border: solid 1px black; /* Параметры рамки */
    float: left; /* Состыковка со слоем контента по горизонтали */
    padding: 3px; /* Внутренние поля */
}
#content { /* Основное содержание */
    background: #e3e8cc; /* Цвет фона */
    border: solid 1px black; /* Параметры рамки */
    margin-bottom: 5px /* Отступ снизу */
}
#content p{
	padding: 3px; /* Внутренние поля контента*/
}

#menu{
    float: right; 
    width: 20%;
}

#content{
    margin-right: 21%;
}

#bottom { /* Подвал */
    background: #e3e8cc; /* Цвет фона */
    border: solid 1px black; /* Параметры рамки */
    padding: 3px; /* Поля вокруг текста */
}

#top { /* Шапка с заголовком страницы */
    background: #e3e8cc; /* Цвет фона */
    border: solid 1px black; /* Параметры рамки  */
    padding: 10px 0 10px 10px; /* Поля вокруг текста */
    margin-bottom: 5px; /* Расстояние между шапкой и колонками */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
}

#col1 { /* Левая колонка */ 
    position: absolute; /* Абсолютное позиционирование */
    width: 23%; /* Ширина блока*/
    left: 0px; /* Координата от левого края окна */ 
    top: 55px; /* Координата от верхнего края окна */ 
    background: #800000; /* Цвет фона левой колонки */
    padding: 5px; /* Поля вокруг текста */ 
}

#col2 { /* Правая колонка */ 
    margin-left: 23.6%; /* Отступ слева=ширине левой колонки + padding */ 
    background: #e0e0e0; /* Цвет фона правой колонки */
    padding: 5px; /* Поля вокруг текста */
}

body {
    padding: 0; /* Отступы для браузера Opera */ 
    margin: 0; /* Обнуляем значения отступов на веб-странице */ 
   }
